.HeaderBTN {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04aa6d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(185, 55, 8);
}
/*body {
  background-image: url("https://s1.1zoom.me/big0/903/349893-admin.jpg");
  background-color: black;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}*/
body {
  background: url("../../assets/img/EOY.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.HeaderBTN:hover {
  background-color: #3e8e41;
  color: #fff;

  border-color: black;
}
.navbar-fixed-top {
  top: -70px;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: relative;
}
.HeaderBTN:active {
  /*background-color: black;*/
  box-shadow: 0 0 5px orangered, 0 0 20px rgb(255 255 0 / 0.8),
    0 0 35px rgb(255 255 0 / 0.7), 0 0 50px rgb(255 255 0 / 0.6);
  border-color: #fff;

  transform: translateY(4px);
}
